<% var
pageTitle = "Home";
pageId = "index";
pageUrl = "";
pageDescription = "Awesome site";
%>
<% include ../_partial/_header %>
<body>
  <div class="container"><h1>hello there</h1></div>
  <a href="https://google.com">link example</a>
</body>
<% include ../_partial/_footer %>
